//Header
header.usa-header--extended {
  .usa-navbar {
    background-color: color(primary-darker);
    max-width: 100%;
    display: block;

    //logo
    .usa-logo {
      margin: 1rem 0;
      line-height: 0;
      max-width: 275px;
    }

    //utilities menu
    nav ul {
      list-style: none;
      padding: 0;
      margin: 2rem 0 .5rem;
      float: right;
      li {
        display: inline;
        &:nth-child(2) {
          border-left: .5px solid white;
          border-right: .5px solid white;
          margin: 0 .5rem;
          padding: 0 .5rem;
        }
        a {
          color: white;
          text-decoration: none;
          font-size: .8rem;
          letter-spacing: ls(1);
        }
      }
    }

    //desktop search field
    form.usa-search {
      @include search-field;
      &:focus-visible {
        outline: 0;
      }
    }
  }

  //desktop main menu
  nav.usa-nav {
    background-color: color(base-darkest);
    border-top: 2px solid color(warning);
    ul li a {
      color: white;
      padding: 1.5rem;
    }
  }

  //mobile main menu
  @media (max-width: 63.99em) {
    label.hamburger {
      background-image: url('/themes/custom/usdoj_uswds/images/doj-icon-hamburger-menu.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      width: 2rem;
      height: 1.5rem;
      bottom: 4.5rem;
    }
    #mobile-btn:checked {
      &+ label.hamburger {
        background-image: url('/themes/custom/usdoj_uswds/images/doj-icon-hamburger-close.svg');
        &> nav.usa-nav {
          display: block;
          width: 100vw;
          height: 100vh;
          top: 5rem;
          ul {
            li:first-of-type {
              border-top: 0;
            }
            a {
              color: white;
              padding: 1rem;
            }
          }
        }
      }
    }

    //mobile search
    form.usa-search--mobile {
      background-color: color(primary-darker);
      bottom: 1.75rem;
      justify-content: center;
      @include search-field;
    }
  }
}