.usa-layout-docs__sidenav {
  .usa-sidenav {
    display: none;

    @include at-media(desktop) {
      display: block;
      border-bottom: none;

      .usa-sidenav__item {
        border-top: 1px solid $gray-20;
        a {
          padding: .9rem 1.2rem;
          font-weight: 600;
          font-size: 1rem;
          &.usa-current {
            background-color: $blue-cool-5;
            color: color(primary-darker);
            &:after {
              background-color: color(primary-darker);
              border-radius: 0;
              bottom: 0;
              top: 0;
            }
          }
        }
      }
    }
  }

  h2.block-title { 
    font-size: 1.5rem;
    text-align: left;
    margin-top: 2rem;
    @include gold-lines(1rem, 0);
  }
  a {
    font-size: .9rem;
  }
  //archived press releases
  #block-archivedpressreleases {
    margin-bottom: 3rem;
    font-weight: bold;
    h2.block-title {
      display: none;
    }
    .body {
      @extend .yellow-background;
      p:first-of-type {
        margin-top: 0;
      }
      a {
        font-weight: normal;
      }
    }
  }
}

//mobile left nav
#mobile-sidenav {
  label.expand {   
    display: block;
    height: 3.4rem;
    margin-top: 2rem;
    border: 1px solid $gray-warm-20;
    border-left: none;
    .expand-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0 1rem;
      border-left: 4px solid color(primary-darker);
      color: $doj-darkblue;

      &:after {
        content: "+";
        font-size: 1.5rem;
        font-weight: bold;
        color: $blue-60v

      }
    }
  }

  ul.menu--sidebar-menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;

  }

  #sidenav-expand:checked + label.expand {
    .expand-title{
      background-color: $blue-cool-5;
      &:after {
        content: "-";
      }
    }
    ul.menu--sidebar-menu {
      display: block;
      position: relative;
      z-index: 10;
      height: 50vh;
      li {
        background: white;
        padding: 1rem;
        border: 1px solid $gray-warm-20;
        border-bottom: none;
        &.last {
          border-bottom: 1px solid $gray-warm-20;
        }
        a {
          color: $doj-darkgray;
          font-weight: 600;
          text-decoration: none;
        }
      }
    }
  }
}
