.block-offices {
  margin-bottom: 3rem;
  border-bottom: 1px solid $gray-20;
  .field_heading {
    font-size: $theme-h4-font-size;
    font-weight: bold;
    color: $doj-coolblue;
    margin-bottom: 3rem;
  }
  .field__items {
    @include grid-row;
    @include grid-gap(6);
    .field__item {
      @include u-width(full);
      @include at-media(desktop) {
        @include grid-col(6);
      }
      .paragraph--type--office {
        display: grid;
        grid-template-columns: 4.25rem auto;
        grid-template-rows: auto auto;
        column-gap: .5rem;
        margin-bottom: 1.5rem;
        .field_image {
          grid-row: 1 / 3;
        }
        .field_headline {
          @include gold-lines(1rem, 0, $border-bottom: false);
          @extend h4;
          color: color(primary-darker);
          font-weight: bold;
        }
        .field_body p {
          margin-top: 0;
        }
      }
    }
  }
}