.block-anchor {
  margin-bottom: 2rem;
  @include at-media(desktop) {
    margin-bottom: 4rem;
  }
  
  > div {
    @include at-media(desktop) {
      background-color: $taupe-bg;
      border-left: 4px solid $theme-color-accent-warm;
      margin-top: 2rem;
      margin-top: 0;
    }
  
    .field_heading {
      font-weight: bold;
      display: none;  
      color: color(primary-darker);
      padding: 2rem 2rem 1rem;
      @include at-media(desktop) {
        display: block;
      }
    }
  }
  
  .field__items {
    display: none;  
    @include at-media(desktop) {
      display: grid;
      grid-template-rows: repeat(4, auto);
      grid-auto-flow: column;
      grid-template-columns: repeat(3, 13.25rem);
      column-gap: 2rem;
      padding-bottom: 1.5rem;
      
      .field__item {
        padding-bottom: 1rem;
        border-right: 1px solid $gray-warm-20;
        font-weight: 600;
        padding-left: 1rem;

        //first-column
        &:nth-child(-n+4) {
          padding-left: 2rem;
        }
        
        //third column
        &:nth-last-child(-n+3) {
          border-right: none;
          margin-right: 0;
        }
      }
    }
  }

  .expand-all {
    background: none;
    text-align: center;
    color: $doj-coolblue;
    @include at-media(desktop) {
      display: none;
    }
  }
}