/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Featured Grouped Content Block 
  -find-help page
----------------------------------------
*/
.block-featured_group_content {
  padding: 3.5rem 0;

  .field_heading {
    @include gold-lines(1.25rem, auto);
    @extend h2;
    text-align: center;
    font-weight: bold;
  }

  .field__item:first-of-type .paragraph--type--grouped-content {
    margin-top: 0;
  }
  
  .paragraph--type--grouped-content {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    @include at-media(desktop) {
      grid-template-columns: auto auto;
      grid-template-rows: auto;
      padding: $article-padding;
    }
    
    @extend .block-body-background;
    
    .field_image {
      grid-column: 1;
      padding: 1.2rem;
      @include at-media(desktop) {
        grid-row: 1 / 4;
        align-self: center;
        padding: 0;
      }
      img {
        @extend .img-responsive;
        
      }
    }
    
    .field_headline, .field_body, .field_cta {
      padding: 1.2rem;
      @include at-media(desktop) {
        padding: 0 0 0 $article-padding;
      }
    }

    .field_headline {
      font-size: $theme-h4-font-size;
      font-weight: bold;
      color: $doj-coolblue;
      grid-row: 1;
    }

    .field_body {
      font-size: $theme-h6-font-size;
      @include at-media(desktop) {
        font-size: $theme-h5-font-size;
        grid-row: 2;
      }
    }

    .field_cta {
      grid-row: 3;
      a.usa-button {
        background-color: color('primary-darker');
        line-height: 1.5rem;
        @include at-media(desktop) {
          line-height: 1rem;
        }
        &:hover {
          background-color: $blue-60v;
        }
        &:active {
          background-color: $doj-coolblue;
        }
        &:focus {
          outline: none;
        }
      }
    } 
  }

  &.bg-primary-darker {
    .field_heading {
      color: white;
    }
  }
}
