.block-cta {
  padding-bottom: 3rem;
  .field_heading {
    font-size: 1.4rem;
    font-weight: bold;
    @extend h2;
    &:after {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .body {
    margin-bottom: 2rem;
  }
  .field_cta a {
    padding: .5rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    background-color: color(primary-darker);
    color: white;
    @include at-media(desktop) {
      padding: 0.5rem 1.25rem;
    }
    &:hover {
      background-color: $blue-60v;
    }
    &:active {
      background-color: $doj-coolblue;
      border: none;
    }
  }
}