/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Tabbed Block on Homepage

----------------------------------------
*/
//Local Mixins
@mixin pseudo-position {
  position: absolute;
  margin-left: -2em;
}

@mixin content-position {
  position: relative;
  padding-left: 3.5em;
  padding-right: 3.5em;
}


.faq-mainWrapper {
  h2,
  h3 {
    &.text-center {
      @include gold-lines(1.25rem, auto);
    }
  }

  h3 {
    @extend h2;
    margin-bottom: .5em;
  }

  background-color: $taupe-bg;
  padding-top: 4.2rem;
  padding-bottom: 3rem;

  //Toggling Button
  .accordion-grouping {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 1.3125rem;
    padding-right: 1.3125rem;

    @include at-media(desktop) {
      padding-left: 5.25rem;
      padding-right: 5.25rem;
    }

    &__expandBtn {
      text-align: center;

      .accordion-grouping__btn {
        margin-right: 0;
      }

      @include at-media(desktop) {
        text-align: right;
      }


    }
  }

  //CTA-Button
  .field_cta a {
    width: 12.5rem;
    display: block;
    text-align: center;
    margin: 2rem auto 1rem;
    padding: 0.75rem 1.25rem;
    border: 2px solid $doj-coolblue;
    border-radius: 0.25rem;
    font-weight: bold;
    color: $doj-coolblue;
    text-decoration: none;

    &:hover {
      color: white;
    }

    &:active {
      background: $doj-darkblue;
      border-color: $doj-darkblue;
    }

  }


  //Actual FAQs
  .paragraph-questions {
    &.paragraph-faqs {
      padding: 1rem 0;

      .usa-accordion {
        &__heading {
          BUTTON {
            @include content-position;

            &::before {
              content: "Q.";
              @include pseudo-position;

            }

            &::after {
              @include at-media-max(desktop) {
                margin: 0;
                top: .85em;
                bottom: revert;
              }
            }

            @include at-media(desktop) {
              padding-right: 5.5rem;
            }
          }
        }

        &__content {
          @include content-position;
          padding-right: 3.75rem;

          &::before {
            content: "A.";
            @include pseudo-position;

          }

          P {
            max-width: 40.625rem;
          }

          @include at-media(desktop) {

          }
        }

      }

    }
  }
}
