/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
sass root. Don't edit the version
in node_modules.
----------------------------------------
Press Release
----------------------------------------
*/

.press-release-search {
  form.usa-form {
    max-width: 100%;
    
    
    label {
      color: color(primary-darker);
      font-weight: bold;
      margin: 0;
    }

    input {
      border: 1px solid $gray-warm-20;
      border-radius: 3px;
      max-width: 30rem;
    }

    .form-item-search-api-fulltext {
      background: $blue-cool-5;
      border-left: 3px solid color(primary-darker);
      padding: 1rem 2rem 1.5rem;
      margin-top: 0;
      max-width: 100%;
    }

  }
}