/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Tabbed Block on Homepage

----------------------------------------
*/

.block-tabbed {
  padding: 3rem 0;
  
  .field_header {
    font-weight: 700;
    @extend h2;
    text-align: center;
    @include gold-lines(1.25rem, auto);
  }

  .panels { 
    @extend .block-body-background;
  
    //titles at top of block
    .panel-titles { 
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 5rem;
      border-bottom: 1px solid $gray-10;

      //individual titles
      .panel-title {
        max-width: 25%;
        cursor: pointer;
        align-self: stretch;

        //header tabs
        .block-tab { 
          height: 100%;
          text-align: center;
          display: flex;
          align-items: center;
          font-size: .8rem;
          
          @include at-media(desktop) {
            font-size: 1rem;
          }
          
          //active tab
          &.active {
            color: color(primary-darker);
            font-weight: bold;
            border-bottom: .25rem solid color(warning);
          }
        }
      }
    }
    
    //content of each tab
    .panel-content { 
      visibility: collapse;      
      height: 0;
      
      &.active {
        visibility: visible;
        height: 100%;
      }

      .paragraph--type--tab {
        @include at-media(desktop) {
          padding: 1rem 3rem 3rem;
        }
        
        .field_headline {
          display: none;
        }
        
        .usa-card {
          margin-bottom: 1.25rem;
        }
        
        //mobile display of paragraphs
        .slick-dots {
          padding: 0;
          list-style: none;
          bottom: 2rem;
          text-align: center;
          margin: 2rem auto;
          
          li {
            display: inline-block;
            margin: 0 .25rem;
      
            &.slick-active {
              button {
                background-color: $theme-color-accent-warm;
              }
            }
      
            button {
              color: transparent;
              background-color: $doj-darkblue;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              border: none;
      
              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        //paragraphs--tab--card
        .usa-card--header-first {
          .usa-card__header {
            border-radius: 0;
            padding: 0;
            
            h3 {
              color: $doj-coolblue;
              text-align: center;
              font-size: 1.25rem;
              line-height: 1.5rem;
              
              .field_headline {
                display: flex;
                height: 4rem;
                justify-content: center;
                align-items: center;
                @include u-font-family("sans");
                font-weight: bold;
              }
            } 
          }
          
          .usa-card__container {
            border: none;
            box-shadow: none;
            min-height: auto;
            
            //slider images
            .usa-card__media--inset {
              padding: 0;
              height: 12rem;
              line-height: 12rem;
              img {
                max-height: 12rem;
                vertical-align: middle;
              }
            }
            
            .usa-card__body {
              padding: 0;
              text-align: center;
              padding-bottom: 1rem;
              min-height: auto;
              
              .field_body {
                max-width: 23rem;
                margin: 1rem auto 0;
                font-weight: normal;
                font-size: .9rem;
                color: $gray-60;
              }
            }
            
            //paragraph buttons
            .usa-card__footer {
              text-align: center;
              padding: 0;
              
              .field_cta a {
                color: white;
                background: color(primary-darker);
                padding: 0.75rem;
                border-radius: 0.25rem;
                text-decoration: none;
                font-weight: bold;
                margin: 0 auto;
                &:hover {
                  background: $blue-60v;
                  border-color: $blue-60v;
                }
                &:active {
                  background: $doj-coolblue;
                  border-color: $doj-coolblue;
                }
                &:focus {
                  outline: none;
                }
              }
            }
          }
        }
      }
      
      #panel-3-body .slick-list {
        width: 100%
      }
    }

    .paragraph--type--tab {
      
      .field__items {
        @include grid-row;
        
        .field__item {
          @include grid-col(12);
          @media (min-width: 48em) {
            @include grid-col(4);
            margin: 0 auto;
          }
        }
      }
    }
  }

  //block button
  .field_cta a {
    width: 12.5rem;
    display: block;
    text-align: center;
    margin: 2rem auto 1rem;
    padding: 0.75rem 1.25rem;
    border: 2px solid color(primary-darker);
    border-radius: 0.25rem;
    font-weight: bold;
    color: color(primary-darker);
    text-decoration: none;
    &:hover {
      background: $blue-60v;
      border-color: $blue-60v;
      color: white;
    }
    &:active {
      background: $doj-coolblue;
      border-color: $doj-coolblue;
    }
    &:focus {
      outline: none;
    }
  }

  //tabbed block navy background
  &.bg-primary-darker {
    .field_header {
      color: white;
    }
  }
}

