/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Tabbed Block on Homepage

----------------------------------------
*/

.block-tabbed {
  padding: 3rem 0;

  .field_header {
    display: none;
  }

  .panels { 
    position: relative; 
    min-height: 48rem;
    background: white;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 17%);
    @media (max-width: 47.99em) {
      min-height: 69rem;
    }
    @media (max-width: 39.99em) {
      min-height: 60rem;
    }
    
    .panel { 
      display: inline;
      
      .block-tab { 
        display: inline-block;
        text-decoration: none;
        text-align: center;
        width: 24.5%;
        @media (max-width: 47.99em) {
          width: 22.5%;
        }
        
        &.active {
          display: inline-block;
          padding: 1.85rem 0;
          @media (max-width: 47.99em) {
            padding: 1.4rem 0;
          }

          span {
            color: color(primary-darker);
            font-weight: bold;
            border-bottom: 3px solid color(warning);
            padding: 0 0 1.85rem 0;
            @media (max-width: 47.99rem) {
              display: block;
              padding: 0 0 1rem 0;
              line-height: 1.2rem;
              word-wrap: break-word;
              font-size: .8rem;
              max-width: 4rem;
              margin: 0 auto;
            }
            
          }

          ~ .panel-content {
            visibility: visible;
          }
        }

        @media (max-width: 47.99em) {
          span {
            word-wrap: break-word;
            font-size: .8rem;
            display: block;
            max-width: 4rem;
            margin: 0 auto;
            padding: 0 0 1rem 0;
            line-height: 1.2rem;
          }
        }
      }

      .panel-content { 
        visibility: hidden;
        position: absolute;
        left: 0; 
        top: 5rem; 
        bottom: 0; 
        right: 0;
        padding: 3rem;
        border-top: 1px solid $gray-10;
        @media (max-width: 47.99em) {
          padding: 0;
        }

        .paragraph--type--tab .slick-dots {
          padding: 0;
          list-style: none;
          bottom: 2rem;
          text-align: center;
          margin: 0 auto;
      
          li {
            display: inline-block;
            margin: 0 .25rem;
      
            &.slick-active {
              button {
                background-color: $theme-color-accent-warm;
              }
            }
      
            button {
              color: transparent;
              background-color: $doj-darkblue;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              border: none;
      
              &:hover {
                cursor: pointer;
              }
            }
          }
      
          @include at-media(desktop) {
            bottom: 0;
          }
        }

        .field_headline {
          display: none;
        }

        .paragraph--type--card {
          .usa-card__container {
            border: none;
            box-shadow: none;
            
            .usa-card__media--inset {
              padding: 0;
            }
            
            .usa-card__body {
              padding: 0;
              text-align: center;
              min-height: 16rem;
              @media (max-width: 47.99em) {
                min-height: 10rem;
              }
            }
            
            .usa-card__footer {
              text-align: center;
              padding: 0;
              
              .field_cta a {
                color: white;
                background: color(primary-darker);
                padding: 0.75rem 1rem;
                border-radius: 0.25rem;
                text-decoration: none;
                font-weight: bold;
                font-size: .9rem;
                margin: 0 auto;

              }
            }
          }
        }
      }
    }
  }

  .field_cta a {
    width: 12rem;
    display: block;
    text-align: center;
    margin: 2rem auto 1rem;
    padding: 0.75rem 1.25rem;
    border: 2px solid color(primary-darker);
    border-radius: 0.25rem;
    font-weight: bold;
    color: color(primary-darker);
    text-decoration: none;
  }


  .paragraph--type--tab {
    
    .field__items {
      @include grid-row;
      
      .field__item {
        @include grid-col(12);
        @media (min-width: 48em) {
          @include grid-col(4);
          margin: 0 auto;
        }
      }
    }
  }
}

