.block-cta {
  padding-bottom: 3rem;
  
  &.text-align-center {
    .field_heading {
      @include gold-lines(1.25rem, auto);
    }
  }
  
  .field_heading {
    font-size: 1.4rem;
    @extend h2;
    font-weight: bold;
  }
  
  .body {
    margin-bottom: 2rem;
  }
  
  //cta button links
 
  
  .paragraph--type--link {
    margin-right: 1rem;
    display: inline-block;
    
    a {
      display: block;
      padding: .75rem;
      border-radius: 4px;
      text-decoration: none;
      font-weight: bold;
      background-repeat: no-repeat;
      @include at-media(desktop) {
        padding: 0.75rem 1.25rem;
      }

      //dark-blue button
      &.usa-button { 
        background-color: color(primary-darker);
        color: white;
        
        &:hover {
          background-color: $blue-60v;
        }
        
        &:active {
          background-color: $doj-coolblue;
          border: none;
        }
      }

      //outline button
      &.usa-button--outline {
        background-color: transparent;
        color: $doj-coolblue;
        border-width: 2px;
        
        &:hover {
          background-color: $blue-60v;
          color: white;
        }
        
        &:active {
          background-color: $doj-coolblue;
          border: none;
        
        }
      }

      //org chart icon
      &.org_chart {
        background-image: url('../images/doj-icon-offices-org-chart.svg');
        background-position: .5rem;
        padding-left: 2.5rem;
        &:hover {
          background-image: url('../images/doj-icon-offices-org-chart-hover.svg');
        }
      }

      //pdf icon
      &.pdf {
        background-image: url('../images/doj-icon-offices-pdf.svg');
        background-position: .5rem;
        padding-left: 2.5rem;
        &:hover {
          background-image: url('../images/doj-icon-offices-pdf-hover.svg');
        }
      }
    }
  }

  &.bg-primary-darker {
    .field_heading, .body {
      color: white;
    }
    
    .paragraph--type--link {
      a.usa-button {
        color: color(primary-darker);
        background-color: color(warning);
        &:hover {
          background-color: white;
        }
      }
    } 
  }
}