.block-carousel {
  padding: 3rem 0;
  
  &.bg-primary-darker {
    .field_header {
      color: white;
    }
    
    .slides-slideshow {
      .slick-dots {
        li {
          &:not(.slick-active) {
            button {
              background-color: white;
            }
          }
        }
      }
    }
  }

  .field_header {
    @extend h2;
    text-align: center;
    font-weight: 700;
    @include gold-lines(1.25rem, auto);
  }
}