/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

body {
  color: $theme-color-base;
}

ul {
  &.inline-list {
    padding: 0;
    li {
      display: inline-block;
      list-style: none;
      margin-right: 2rem;
    }
    img.usa-search__submit-icon {
      width: auto;
      height: auto;
    }
  }
}
strong {
  &.accent-warm {
    font-size: 16px;
    font-size: $theme-body-font-size;
  }
}
.accent-warm {
  color: $theme-color-accent-warm;
}
.usa-icon-list__icon {
  margin-right: .75rem;
  img {
    vertical-align: bottom;
  }
}
.return-to-top {
  position: absolute;
  right: 0;
  bottom: 0;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $doj-coolblue;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-transform: uppercase;
    font-weight: 600;
  }
}