/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
sass root. Don't edit the version
in node_modules.
----------------------------------------
Custom project SASS goes here.
i.e.
@include u-padding-right('05');
----------------------------------------
*/

//ToDo-NP: Clean up file structure.
/*
*******TABLE OF CONTENTS********

TOC 00 - Shared Site-wide Styles
TOC 01 - Primary MegaMenu

*******TABLE OF CONTENTS********
*/


/************************************************
TOC 00 - Shared Site-wide Styles - START
************************************************/
body {
  color: $theme-color-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
  font-weight: 600;
}

h1 {
  font-size: $theme-h1-font-size;
}

h2 {
  font-size: $theme-h2-font-size;
}

h3 {
  font-size: $theme-h3-font-size;
}

h4 {
  font-size: $theme-h4-font-size;
}

h5 {
  font-size: $theme-h5-font-size;
}

h6 {
  font-size: $theme-h6-font-size;
}

h1,
h2 {
  color: $doj-darkblue;
  @include gold-lines(1.5rem, 0);
}

h1 {
  line-height: 1.3;
}

a {
  color: $theme-link-color;

  &:hover {
    color: $doj-darkblue;
  }
}

ul {
  padding: 0;

  &.inline-list {
    li {
      display: inline-block;
      list-style: none;
      margin-right: 1.5rem;
    }

    img {
      &.usa-search__submit-icon {
        width: auto;
        height: auto;
      }
    }
  }

  &.tall {
    list-style: none;
    margin: 0;

    li {
      margin-bottom: 1.5rem;
      line-height: 1;

      @include at-media(desktop) {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  &.yellow-stars {
    list-style: none;
    text-indent: -20px;
    margin-left: 20px;

    li {
      margin-bottom: .25rem;

      &::before {
        content: "";
        background-image: url("/themes/custom/usdoj_uswds/assets/img/usa-icons/star.svg");
        filter: invert(92%) sepia(22%) saturate(4749%) hue-rotate(331deg) brightness(102%) contrast(106%);
        background-size: contain;
        background-repeat: no-repeat;
        width: 14px;
        height: 14px;
        display: inline-block;
        margin-right: .5rem;
      }
    }
  }
}

strong {
  &.accent-warm {
    font-size: 16px;
    font-size: $theme-body-font-size;
  }
}

hr {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  background-color: $gray-20;
  height: 1px;
  border: none;
}

aside {
  margin-top: $article-padding;
  margin-bottom: $article-padding;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
}

#mobile-sidenav {
  margin-bottom: $article-padding;
}

.accent-warm {
  color: $theme-color-accent-warm;
}

.usa-section {
  padding: 0;
}

.usa-icon-list__icon {
  margin-right: 0.75rem;

  img {
    vertical-align: bottom;
  }
}

.usa-layout-docs__main {
  .usa-layout-docs__sidenav {
    .usa-sidenav {
      &::before {
        @include at-media(desktop) {
          margin: 0 0 .5rem;
        }
      }
    }
  }

}

.usa-button--outline {
  padding-left: 2rem;
  padding-right: 2rem;
  min-width: 175px;

  &:hover:not(:disabled) {
    background-color: $blue-60v;
    color: white;
    box-shadow: inset 0 0 0 2px $blue-60v;
  }
}


.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin: 0 .5rem;
  }
}

.return-to-top {
  background-color: $footer-darkgray;

  a {
    @include u-font("body", 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $doj-coolblue;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    bottom: 0;
    position: relative;

    &:hover {
      color: white !important;
    }
  }

  img {
    max-width: 20px;
    height: auto;
    margin-bottom: 0.25rem;
  }

  @include at-media(desktop) {
    a {
      position: absolute;
      right: 0;
    }
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}

//*******************
//* Node fields START
//*******************

.node-content {
  //* similar to .block-field-blocknodepagefield-body
  color: $gray-70;
  line-height: 1.6;
  margin-top: $article-padding;
  margin-bottom: $article-padding;

  strong {
    color: $doj-darkblue;
  }

  .field-header {
    font-size: $theme-h4-font-size;
    margin: 0 0 .25rem 0;
    color: $doj-darkblue;
    font-family: font-family($theme-body-font-family);
  }

  img {
    @extend .img-fluid;
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.node-top {
  margin-bottom: $node-field-spacing;

  .node-top-left {
    > div {
      margin-bottom: 1rem;
    }
  }

  .node-top-right {
    strong {
      display: block;
      margin-bottom: .5rem;
    }
  }

  @include at-media(tablet) {
    display: flex;

    .node-top-left {
      margin-right: 2rem;
      flex-basis: 50%;
    }

    .node-top-right {
      flex-basis: 50%;
    }
  }
}

.node-type {
  text-transform: uppercase;
  font-weight: 800;
  font-size: $theme-h6-font-size;
  color: $doj-coolblue;

  + h1 {
    margin-top: 1rem;
  }
}

.node-date {
  margin-bottom: $node-field-spacing;
  font-size: $theme-h6-font-size;
  color: $gray-80;
}

.node-body {
  color: $gray-70;
  line-height: 1.6;

  p {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.event-date {
  margin-bottom: $node-field-spacing;
}

.event-location {
  margin-bottom: $node-field-spacing;

  .address {
    margin: 0;
  }
}

.node-contact-info {
  margin-bottom: $node-field-spacing;
}

.node-notes {
  margin-bottom: $node-field-spacing;
}

.node-body {
  margin-bottom: $node-field-spacing;

  img {
    @extend .img-fluid;
  }
}

.node-summary {
  color: $gray-70;
  line-height: 1.65;

}

.node-attachments {
  margin-bottom: $node-field-spacing;

  .field__item {
    display: block;
    margin: .25rem 0;
  }
}

.node-component {
  margin-bottom: $node-field-spacing;

  .field__item {
    margin: .5rem 0;

    @include at-media(tablet) {
      display: inline;
      margin-right: 1rem;
      padding-right: 1rem;
      border-right: 1px solid $gray-warm-20;

      &:last-of-type {
        border-right: none;
      }
    }
  }
}

.node-location {
  color: $gray-70;
  line-height: 1.6;
  margin-bottom: $node-field-spacing;

  .address {
    margin: .75rem 0;
  }
}

.node-press-info {
  margin-bottom: $node-field-spacing;
}

.node-links {
  .field__item {
    margin: .5rem 0;

    a {
      @extend .external-link;
    }
  }
}

.external-link {
  &::after {
    content: "";
    background-image: url(../assets/img/external-link.svg);
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: .5rem;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
  }
}

.node-speaker {
  margin-bottom: $node-field-spacing;

  .field_speaker {
    margin-bottom: .5rem;
  }
}

.node-topics {
  margin-bottom: $node-field-spacing;

  .field__item {
    display: inline-block;
    margin: .25rem 1rem .25rem 0;

    @include at-media(tablet) {
      margin: .75rem 1rem .75rem 0;

    }

    a {
      display: block;
      padding: .75rem 1.25rem;
      background-color: $blue-cool-5;
      border-left: 4px solid $doj-darkblue;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 800;
      font-size: $theme-h6-font-size;
    }
  }
}

.node-audio {
  audio {
    width: 100%;
  }
}

.node-info-box {
  background-color: $taupe-bg;
  padding: 1rem;
  border-left: 4px solid $theme-color-accent-warm;

  strong {
    color: $gray-80;
  }
}

.node-author {
  &__freeform {
    > *,
    .field_author_free {
      display: inline;
    }
  }

  &__staffProfile {
    > *,
    .field_author {
      display: inline
    }
  }
}

.node-updated-date {
  margin-bottom: $node-field-spacing;
  font-style: italic;
  color: $gray-60;
  font-size: 15px;
  font-weight: 300;
}

//*******************
//* Node fields END
//*******************


.slick-dots {
  margin-bottom: 0;
}

.hero-region-wrapper {
  position: relative;
  top: -1px;
  max-width: units($theme-grid-container-max-width);
  margin: 0 auto;
}

.hero-slideshow {
  position: relative;
  top: -1px;
  margin: 0 -1rem;

  .hero-wrapper {
    position: relative;

    .hero-text-wrapper {
      background-color: rgba(white, 0.95);
      border-left: 4px solid $theme-color-accent-warm;
      z-index: 1;

      @include at-media(tablet-lg) {
        position: absolute;
        max-width: 300px;
        top: 2rem;
        left: 2rem;
      }

      a {
        font-family: $headings-font-family;
        display: block;
        color: $doj-darkblue;
        text-decoration: none;
        font-size: 24px;
        line-height: 1.3;
        font-weight: 700;
      }

      h2 {
        margin: 1rem;

        &::after {
          display: none;
        }
      }

      .hero-type {
        text-transform: uppercase;
        color: $doj-coolblue;
        font-weight: 700;
        font-size: $theme-h6-font-size;
        padding: 1.5rem 1rem 0;
      }

      .hero-date {
        background-color: $doj-lightblue;
        padding: 1rem;
        border-top: 1px solid $gray-cool-20;
        border-bottom: 1px solid $gray-cool-20;
        font-size: $theme-h6-font-size;
      }
    }

    .hero-image {
      img {
        aspect-ratio: 1.5/1;
        height: 100%;
        object-fit: cover;
        max-height: 250px;
      }

      @include at-media(tablet-lg) {
        img {
          aspect-ratio: auto;
          width: 100%;
          max-height: none;
        }
      }
    }
  }

  .slick-dots {
    @include center-hor();
    padding: 0;
    list-style: none;
    top: 44%;

    li {
      display: inline-block;
      margin: 0 0.25rem;

      &.slick-active {
        button {
          background-color: $theme-color-accent-warm;
        }
      }

      button {
        color: transparent;
        background-color: white;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: none;

        &:hover {
          cursor: pointer;
        }
      }
    }

    @include at-media(tablet-lg) {
      top: 86%;
    }

    @include at-media(desktop) {
      position: absolute;
      top: auto;
      left: 0;
      bottom: 0;
      margin-bottom: 2rem;
      margin-left: 3rem;
    }
  }
}

.slides-slideshow {
  .slick-dots {
    padding: 0;
    list-style: none;
    bottom: 2rem;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 0.25rem;

      &.slick-active {
        button {
          background-color: $theme-color-accent-warm;
        }
      }

      button {
        color: transparent;
        background-color: $doj-darkblue;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: none;

        &:hover {
          cursor: pointer;
        }
      }
    }

    @include at-media(desktop) {
      bottom: 0;
    }
  }

  .usa-card {
    margin-bottom: 0;
  }
}

.usa-card__container {
  border-color: $theme-card-border-color;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.17);
  margin-bottom: 0.5rem;

  .usa-card__body {
    color: $gray-80;
    font-weight: 600;
    line-height: 1.4;

    .card-title {
      @include u-font-family("sans");
      color: $doj-coolblue;
      font-size: $theme-h4-font-size;
      margin-bottom: 10px;
    }

    p {
      &:first-of-type {
        margin-top: 0;
      }
    }

    strong {
      color: $doj-darkblue;
      display: block;
      margin-bottom: -10px;
    }

    em {
      color: $gray-60;
      font-style: normal;
      font-size: 15px;
      font-weight: 500;
    }

    @include at-media(desktop) {
      min-height: 350px;
    }
  }

  .usa-card__footer {
    a {
      color: $blue-60v;
      font-weight: 600;
    }

    @include at-media(desktop) {
      min-height: 60px;
    }
  }
}

//*********************
//* Block classes START
//*********************

.bg-full-width {
  position: relative;

  &::before {
    content: "";
    width: 100vw;
    position: absolute;
    top: 0;
    height: 100%;
    left: 50%;
    right: 50%;
    margin: 0 -50vw;
    background-color: inherit;
    z-index: -1;
  }
}

.block-body-background {
  background: white;
  border: 1px solid $theme-card-border-color;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 17%);
}

.yellow-background {
  background-color: $taupe-bg;
  border-left: 4px solid $theme-color-accent-warm;
  padding: 1rem;
  margin-top: 2rem;

  p {
    &:first-of-type {
      margin-top: .25rem;
    }

    &:last-of-type {
      margin-bottom: .25rem;
    }
  }
}

.block-field-blocknodepagetitle {
  @extend h1;
}

.block-field-blocknodepagefield-body {
  //* similar to .node-content
  color: $gray-70;
  line-height: 1.6;

  h1,h2,h3,h4,h5,h6 {
    font-size: $theme-h4-font-size;
    color: $doj-darkblue;
    font-family: font-family($theme-body-font-family);
    margin: 2rem 0 .5rem;
  }

  img {
    @extend .img-fluid;
  }

  p {
    margin-top: 0;
  }
}

//*********************
//* Block classes END
//*********************



//*****************************
//* Layout builder styles START
//*****************************

.block-layout-builder {
  &.block-field-blocknodepagetitle {
    @extend h1;
    @include gold-lines(1.5rem, 0);
  }

  .field_body {
    line-height: 1.5rem;
  }
}

//* This is needed to contain slick slider in layout builder.
.layout__region {
  width: 100%;
}

.layout--twocol-section {
  .layout__region--first {
    nav {
      > h2 {
        font-size: 15px;
        font-family: font-family($theme-body-font-family);
        padding: 1.25rem .75rem;
        border: thin solid $gray-warm-30;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-left: 4px solid $doj-darkblue;
        margin-bottom: 0;

        &::after {
          content: "";
          border: none;
          background-image: url('/themes/custom/usdoj_uswds/assets/img/plus.svg');
          filter: invert(26%) sepia(50%) saturate(2692%) hue-rotate(184deg) brightness(95%) contrast(101%);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 12px;
          width: 12px;
          margin: 0;
        }  

        &.open {
          background-color: $blue-cool-5;

          &::after {
            background-image: url('/themes/custom/usdoj_uswds/assets/img/minus.svg');
          }

          + .menu {
            max-height: 1000px;
            transition: max-height 1s;

          }
        }
      }

      > .menu {
        list-style: none;
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s;
        margin-top: 0;

        li {
          border: 1px solid $gray-20;
          margin-top: -1px;

          a {
            display: block;
            padding: 1rem 1.25rem;
            font-size: $theme-h5-font-size;
            text-decoration: none;
            color: $doj-darkgray;

            &:hover {
              color: $doj-coolblue;
              background-color: color("base-lightest");
            }
          }
        }
      }

      @include at-media(tablet) {
        > h2 {
          font-size: $theme-h4-font-size;
          padding: 0;
          border: none;
          display: block;
          cursor: auto;
          margin-bottom: 1rem;

          &::after {
            display: none;
          }
        }

        > .menu {
          margin-top: 1rem;
          max-height: none;

          li {
            border: none;
            border-top: 1px solid $gray-20;
            margin-top: 0;
          }
        }
      }
    }
  }

  @include at-media(tablet) {
    .layout__region--first {
      padding-right: 1rem;
    }

    .layout__region--second {
      padding-left: 1rem;
    }
  }
}

//*****************************
//* Layout builder styles END
//*****************************

details {
  border: 1px solid $gray-cool-20;
  border-radius: 4px;
  padding: .5em .5em 0;

  &[open] {
    padding: .5em;

    summary {
      border-bottom: 1px solid $gray-cool-20;
      margin-bottom: .5em;
    }
  }

  summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
  }
}

.img-responsive {
  @include img-responsive;
}



/************************************************
TOC 00 - Shared Site-wide Styles - END
************************************************/
/************************************************
TOC 01 - Primary Menu (with Images) - START
************************************************/

header.usa-header--extended {
  @include at-media-max(desktop) {
    #mobile-btn:checked {
      & + label.hamburger {
        & > nav.usa-nav {
          ul {
            .usa-nav__submenu-item {
              a {
                //This level of nesting is need to override original styling from _header.scss
                color: $doj-darkblue;
              }
            }
          }
        }
      }
    }
    &.usdojMobileMenuSlider {
      .usdojMobileMenuSlider__activeChild {
        background-color: white;
      }

      .usa-nav__primary {

        A {
          &:not(.usa-button) {
            &:hover {
              background-color: transparent;
            }
          }
        }

        .usa-nav__primary-item {
          background-color: transparent;

          transition: margin-left, height;
          @include transition(2s);
          transition-timing-function: ease-out;

          &.usdojMobileMenuSlider {
            &__offCanvas {
              margin-left: -100%;
              height: 0;
            }

            &__hidden {
              display: none;
            }

            &__open {
              background-color: $doj-darkgray;

              A {
                &:hover,
                &:focus,
                &:active {

                  span {
                    color: $doj-darkblue;
                  }
                }
              }
            }
          }

          A {
            line-height: 1.375em;
            padding-top: 0.675em;
            padding-bottom: 0.675em;

            &:hover,
            &:focus,
            &:active {
              background-color: transparent;

              span {
                color: $theme-color-accent-warm;
              }
            }
          }

          button {
            &[aria-expanded] {
              position: relative;
              background-image: none;
              width: 100%;
            }

            &[aria-expanded="false"]::after,
            &[aria-expanded="true"]::before {
              content: "";
              position: absolute;
              width: 1.5rem;
              height: 1.5rem;
              top: 50%;
              transform: translateY(-50%);
              background-repeat: no-repeat;
              background-size: 0.4rem;
            }

            &[aria-expanded="false"]::after {
              background-image: url("../assets/img/chevron-right-white.svg");
              right: 1.25rem;
              background-position: right 0 center;
            }

            &[aria-expanded="true"] {
              text-align: center;
            }

            &[aria-expanded="true"]::before {
              background-image: url("../assets/img/chevron-right-white.svg");
              left: 1.25rem;
              background-position: center center;
              border-radius: 50%;
              border: 1px solid white;
              transform: rotate(180deg) translate(0, 50%);
            }
          }

          .usa-nav__submenu {
            .non_imaged_links__container {
              .individual_menu_level__1 {
                &:first-child {
                  padding-top: 1em;
                }

                .usa-nav__submenu-item {
                  border-top-color: transparent;
                }
              }
            }
          }
        }
      }
    }
  }

  .usa-nav__primary-item {
    > .usa-current {
      @include remove-bar;
    }

    @include at-media-max(desktop) {

    }
    @include at-media(desktop) {
      > .usa-nav__link {
        &:hover {
          @include remove-bar;
        }
      }
    }

  }
}

.usa-nav__primary {
  button {
    @include at-media-max(desktop) {
      color: white;
      font-weight: bold;

      &[aria-expanded="false"] {
        @include add-background-svg("usa-icons-bg/add--white");
      }
      &[aria-expanded="true"] {
        @include add-background-svg("usa-icons-bg/remove--white");
      }
      &:hover {
        background-color: $doj-darkgray;
        color: $theme-color-accent-warm;
      }
    }
    @include at-media(desktop) {
      color: white;
      font-size: 0.94rem;
      height: 100%;

      &:hover {
        color: $doj-darkblue;
      }
      &[aria-expanded="false"] {
        @include add-background-svg("usa-icons-bg/expand_more--white");

        &:hover {
          @include add-background-svg("doj-icon-expand_more--doj-darkblue", "../images");
        }
      }
      &[aria-expanded="true"] {
        @include add-background-svg("doj-icon-expand_less--doj-darkblue", "../images");
        background-color: $theme-color-accent-warm;
        color: $doj-darkblue;
      }
    }
  }
}

.usa-megamenu {
  &.usa-nav__submenu {
    top: 100%;

    &::before,
    &::after {
      background-color: inherit;
      border-bottom: inherit;

      @include at-media(desktop) {
        height: calc(
          100% + 1px
        ); //To compensate for 1px border bottom of source element (.usa-nav__submenu)
      }
    }

    @include at-media(desktop) {
      border-bottom: 1px solid $gray-warm-30;

      a {
        display: inline-block;
      }
    }
  }
}

.usa-nav__submenu {
  background-color: white;

  @include at-media(desktop) {
    border: 1px solid $gray-warm-30;
    border-top: 0;
  }

  .usa-nav__submenu-item {
    font-size: 0.9375rem;

    a {
      color: $theme-link-color;
      font-weight: bold;
      display: block;

      &:hover {
        color: $doj-darkblue;
      }
    }

    @include at-media(desktop) {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.menu_link_imaged {
  @include at-media-max(desktop) {
    display: none;
  }
  display: inline-block;
  max-width: 215px;

  &__content {
    position: relative;
    overflow: hidden;
    display: block;
  }

  &__link_title {
    text-align: center;
    width: 100%;
    //display: inline-block;
    font-size: 1rem;
    min-height: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 12.5px;
  }

  &__media {
    .field_menu_link {
      &_image {
        line-height: 0;
      }
    }
  }

  &__captions {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    bottom: 0;
    padding: 1em;
    font-size: 0.875rem;
  }

  &__caption_header {
    color: $theme-color-accent-warm;
  }

  &__caption_subHeader {
    color: white;
    font-weight: normal;
  }

  a {
    &:hover {
      .menu_link_imaged {
        &__link_title {
          text-decoration: underline;
        }
      }
    }
  }
}

.no_menu_link_image__link_title {
  margin-bottom: 1rem;
}

.non_imaged_links__container {
  @include at-media(desktop) {
    .individual_menu_level__1 {
      margin-top: 0.875em;

      A {
        line-height: 1.8;
      }
    }

    > .individual_menu_level__1 {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

/************************************************
TOC01 - Primary Menu (with Images) - END
************************************************/