/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Mission Block on Homepage


----------------------------------------
*/

.block-homepage-mission {
  padding: 3rem 0;
  //overflow: hidden;
  
  h2.block-title {
    display: none;
  }

  .field_image {
    display: none;
    
    @include at-media(tablet) {
      display: block;
      float: left;
      
      img {
        width: 18rem;
        height: 18rem;
        margin-right: 2rem;
      }
    }
  }
  
  .field_heading {
    color: white;
    font-family: 'Source Serif Pro';
    font-weight: bold;
    font-size: 2rem;
    
    &:after {
      content: "";
      width: 3rem;
      display: flex;
      border-top: 1px solid color(warning);
      border-bottom: 1px solid color(warning);
      height: .3rem;
      margin: 1.5rem 0;
    }
  }
  
  .field_body {
    color: white;
    @include grid-row(8);
    
    ul {
      padding-left: 1.25rem;
    
      li {
        list-style-image: url('/themes/custom/usdoj_uswds/images/doj-icon-bullet-star-silver.png');
        line-height: 2.25rem;
      }
    }
  }

  .field_cta {
    @include grid-col(8);
    @include grid-offset(4);
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    @include at-media(tablet) {
      @include u-width(full);
      margin: 2rem 0 3rem;
    }
    
    a {
      background-color: color(warning);
      color: color(primary-darker);
      padding: 0.5rem 1.25rem;
      border-radius: 2px;
      text-decoration: none;
      font-weight: bold;
    }
  }

  .field_statistics_header {
    color: color(blue-10);
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    
    &:after {
      content: "";
      border-bottom: 1px solid color(blue-10);
      width: calc(100% - 15rem);
      height: 1rem;
    }

    @include at-media(tablet) {
      font-size: 1rem;
      &:after {
        height: .5rem;
        width: calc(100% - 10rem);
      }
    }
  }

  .field__items {
    display: flex;
    justify-content: space-evenly       ;
    text-align: center;
    margin-top: 2rem;
    flex-wrap: wrap;

    .field__item {
      min-width: 15rem;
      padding-bottom: 1rem;
      
      .field_statistic {
        color: color(warning);
        font-size: 2rem;
        margin-bottom: .5rem;
        font-weight: 500;
        @include at-media(tablet) {
          font-size: 3.5rem;
          font-weight: 900;
        }
      }
      
      .field_statistic_caption {
        color: white;
        letter-spacing: 1px;
      }
    }
  }

  .field_background_image {
    position: absolute;
    top: -8rem;
    right: -6rem;
    opacity: 0.05;
  }
}