// Put any variable overrides here. For example:
// $color-primary: #666;
// $color-primary-darker: #444;
// $color-primary-darkest: #222;

//Overwrite of USWDS colors
//Dark Grays
$gray-80: #333;
$gray-warm-70: #4b4b48;
$gray-70: #444;
$gray-warm-60: #555;
$gray-60: #666;

//Light Grays
$gray-20: #ccc;
$gray-cool-20: #bac5cf;
$gray-warm-20: #bbb;
$gray-cool-30: #d8d8d8;
$gray-warm-30: #ddd;
$gray-cool-50: #6a798f;

//Blues
$blue-60v: #0064a8;
$blue-cool-5: #e9eef5;



