.chosen-hide-monthday select[name*="[day]"] {
  display: none !important;
}
.chosen-hide-monthday select[name*="[month]"] {
  display: none !important;
}

.chosen-hide-day select[name*="[day]"] {
  display: none !important;
}
